:root {
  --bs-primary: #007acc;
  --bs-secondary: #FFA625;
  --bs-highlight: #ff9b2a;
  --bs-dark: #333;
  --bs-light: #fff;
  --bs-body-font-family: 'Fredoka', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, a, .btn {
  font-family: Fredoka, sans-serif !important;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 120px;
  background-color: #F6F7FB;
  background-image: url('assets/images/PPBG1.svg');
  background-repeat: repeat;
  background-position: top left;
  background-size: 400px 400px;
}

#footer-container {
  background: rgb(255 255 255 / 70%);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-top: 1px solid rgb(0 0 0 / 5%);
}